.Productlist {
    text-align: center;
    margin-top: 20px;
  }
  
  .Productlist h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;

  }
  
  .Productlist h1::after {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 345px;
    width: 1517px;
    height: 1px;
    background-color: #000;
    margin-inline: -50px;
  }
  
  .product-list {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
  }
  
  .product-item {
    text-align: center;
    margin: 10px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product-item:hover {
    transform: scale(1.1);
  }
  
  .product-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .product-item h3 {
    margin-top: 10px;
    font-size: 18px;
  }