* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 12px;
}

ul {
  list-style: none;
}

li {
  color: #fff;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  background: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 50px !important;
  padding-top: 50px;
  padding-bottom: 24px;
  gap: 80px;
  margin-top: 80px;
}

.footer_logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.footer_infor {
}

.footer_infor .list_icon {
  margin: 12px 0;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.footer_infor .list_icon .icon {
  border-radius: 50%;
  padding: 2px;
}

.logo_img {
  width: 100%;
}

.logo_img img {
  width: 87%;
  height: 200px;
  margin-top: -50px;
  margin-left: 20px;
}
iframe {
  display: none;
  margin-top: -20px;
}

.footer h3 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
}

.footer .footer_infor p,
.footer .footer_policies ul li,
.footer .footer_address p {
  font-size: 15px;
}

.footer .footer_infor img {
  width: 70%;
}

@media (min-width: 320px) and (max-width: 576px) {
  .footer {
    width: 100%;
    background: #2c2c2c;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 12px;
    margin-top: 10px;
    gap: 2px;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  .footer_infor .list_icon {
    margin: 4px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px;
  }
  .logo_img {
    width: 100%;
  }
  .logo_img img {
    width: 87%;
  }
  .footer h3 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin: 20px 0;
  }
  .footer .footer_infor p,
  .footer .footer_policies ul li,
  .footer .footer_address p {
    font-size: 14px;
  }
}
